<h1>Login</h1>

<form action="/users/login" method="POST">
    <div>
        <label for="email">Email: </label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit" value="Ingresar">Login</button>
</form>

<h2>Usuario nuevo?</h2>
<button onclick="location.href='/register'">Register</button>